<template>
  <main class="container">
    <div class ="Questions">
      <Question/>
    </div>
  </main>
</template>

<script>
import Question from "@/components/Question/Question"

export default {
  name: 'Home',
  components:{
    Question
  }
}
</script>
