<template>
  <div class ="Results">
    <Result/>
  </div>
</template>

<script>
import Result from "@/components/Result/Result";

export default {
  name: 'Home',
  components:{
    Result
  }
}
</script>
