<template>
<main class="container">
  <h1>Welcome to Quizzie</h1>
  <h2>Adjust your trivia settings and press Start to play!</h2>
  <label for="category">Select category</label>
  <select v-model = "category" name="category" id="category">
    <option value="9">General Knowledge</option>
    <option value="17">Science & Nature</option>
    <option value="24">Politics</option>
    <option value="23">History</option>
  </select>
  <label for="type">Select type</label>
  <select v-model = "type" name="type" id="type">
    <option selected value="multiple">Multiple Choice</option>
    <option value="boolean">True or False</option>
  </select>
  <label for="difficulty">Select difficulty</label>
  <select v-model = "difficulty" name="difficulty" id="difficulty">
    <option selected value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
  </select>
  <label for="count">Select number of questions</label>
  <input id = "count" type="number" v-model = "count" min="1" max="50" value="10">
  <br>
  <button class="start" v-on:click="pressed">Start</button>

</main>
</template>

<script>
import {store} from "@/store";
import Quiz from "@/api/quiz";

export default {
  name: "Start",
  data() {
    return {
      category: 9,
      type: "multiple",
      count: 10,
      difficulty: "easy",
    }
  },
  methods: {
    async pressed()
    {
      store.state.quiz = new Quiz();
      store.state.score = 0;
      store.state.userAnswers = [];
      store.state.quiz.getQuestions(this.category, this.difficulty, this.type, this.count).then(() => this.$router.push('/questions'));
    }
  }
}
</script>

<style scoped>
.start{
  width: 20%;
  height: 3em;
  font-size: 2em;
  border-radius: 0.5em;
  margin: auto auto 1em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: none;
  background-color: #d9d94d;
}

select {
  font-size: 1.5em;
  height: 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: none;
  background-color: #d9d94d;
  margin: 1em 0em;
}

input {
  font-size: 1.5em;
  height: 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: none;
  background-color: #d9d94d;
  margin: 1em 0em;
}
</style>