<template>
  <header class="header">
    <div class="header-container">
      <img src="../../assets/quiz-24px.svg" alt="quiz logo">
      <h1>Quizzie</h1>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>
.header-container{
  display: flex;
  flex-direction: row;
  height: 5em;
  font-size: 1.5em;
  justify-content: center;
}

img {
  height: auto;
  width: auto;
}
</style>