<template>
  <main>
  <div>
    <h1>Results</h1>
    <h2 style="text-align: center">Score: {{ score }}</h2>
    <table class="table">
      <tr class="table-head">
        <th>Question</th>
        <th>Your answer</th>
        <th>Correct answer</th>
      </tr>
      <tr v-for="(question, index) in questions" :key="index">
        <td>{{ question.question }}</td>
        <td>{{ userAnswers[index] }}</td>
        <td>{{ question.correctAnswer }}</td>
      </tr>
    </table>
  </div>
    <div style="justify-content: center; margin: auto;">
      <router-link to="/">
        <button class="restart-btn">Restart</button>
      </router-link>
    </div>
  </main>
</template>

<script>
import {store} from "@/store";
export default {
  name: "Result",
  data() {
    return{
      score: store.state.score,
      questions: store.state.quiz.questions,
      userAnswers: store.state.userAnswers
    }
  }
}
</script>

<style scoped>
.table
{
  border: 1px solid black;
  width:100%;
  justify-content: center;
  margin: auto;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f181;
}
.table th {
  border-bottom: 1px solid black !important;
  padding: 20px;
}
.table td {
  padding: 20px;
}

.restart-btn {
  width: 20%;
  height: 3em;
  font-size: 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: none;
  margin: 0 40%;
  position: relative;
  top: 2em;
  background-color: #d9d94d;
}

</style>