<template>
    <div>
      <h1>Question {{questionIndex}}</h1>
      <h2> {{question.question}}</h2>
      <div class="answer-container">
        <button v-on:click="advance(answer)" v-for="answer in answers" :key="answer">{{answer}}</button>
      </div>
    </div>
</template>

<script>
import {store} from "@/store";

export default {
  name: "Question",
  data(){
    return{
      questions: store.state.quiz.questions,
      question: "asd",
      questionIndex: 1,
      answers: [],
    }
  },
  created(){
    this.question = store.state.quiz.questions[0];
    this.answers = [...this.question.incorrectAnswers];
    this.answers.push(this.question.correctAnswer);
    this.shuffle(this.answers);
  },
  methods:{
    advance(answer)
    {
      store.state.userAnswers.push(answer);
      if (answer === this.question.correctAnswer){
        store.state.score += 10;
      }
      if (this.questionIndex > store.state.quiz.questionCount-1)
      {
        this.$router.push("/results");
        store.state.finished = true;
      }
      else
      {
        this.question = this.questions[this.questionIndex];
        this.answers = [...this.question.incorrectAnswers];
        this.answers.push(this.question.correctAnswer);
        this.shuffle(this.answers);
        this.questionIndex++;
      }
    },
    // Function to shuffle the answers array
    shuffle(a) {
      for (let i = a.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [a[i], a[j]] = [a[j], a[i]];
  }
  return a;
}
  }
}
</script>

<style scoped>

</style>