body{
    width: 60%;
    padding: 0 20%;
    background-color: lightgoldenrodyellow;
    border-radius: 10em;
}


.container {
    display: grid;
    align-content: center;
    background-color: #e9e98e;
    padding: 0 5%;
    border-radius: 1em;
    position: relative;
    top: 2em;
    height: auto;
}

.answer-container {
    margin-top: 3em;
    display:grid;
    grid-template-columns: 400px 400px;
    grid-row: auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    justify-content: center;
}

.answer-container button {
    width: auto;
    height: 6em;
    font-size: 1.5em;
    border-radius: 0.5em;
    margin-bottom: 2em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: none;
    background-color: #d9d94d;
}